[submodule "lisp/libs/auto-save"]
	path = lisp/libs/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "lisp/libs/counsel-jq-ex"]
	path = lisp/libs/counsel-jq-ex
	url = git@github.com:bigbuger/counsel-jq.git
[submodule "lisp/libs/counsel-golangci-lint"]
	path = lisp/libs/counsel-golangci-lint
	url = git@github.com:bigbuger/counsel-golangci-lint.git
[submodule "lisp/libs/flycheck-posframe"]
	path = lisp/libs/flycheck-posframe
	url = git@github.com:bigbuger/flycheck-posframe.git
[submodule "lisp/libs/company-proto"]
	path = lisp/libs/company-proto
	url = git@github.com:bigbuger/company-proto.git
[submodule "lisp/libs/company-english-helper"]
	path = lisp/libs/company-english-helper
	url = git@github.com:manateelazycat/company-english-helper.git
[submodule "lisp/libs/el-easydraw"]
	path = lisp/libs/el-easydraw
	url = git@github.com:misohena/el-easydraw.git
[submodule "lisp/libs/awesome-tab"]
	path = lisp/libs/awesome-tab
	url = git@github.com:manateelazycat/awesome-tab.git
[submodule "lisp/libs/consult-hoogle"]
	path = lisp/libs/consult-hoogle
	url = https://codeberg.org/rahguzar/consult-hoogle.git
[submodule "lisp/libs/company-sage"]
	path = lisp/libs/company-sage
	url = git@github.com:sagemath/company-sage.git
[submodule "lisp/libs/j-mode"]
	path = lisp/libs/j-mode
	url = git@github.com:LdBeth/j-mode.git
[submodule "lisp/libs/emacs-ob-racket"]
	path = lisp/libs/emacs-ob-racket
	url = https://github.com/hasu/emacs-ob-racket.git
[submodule "lisp/libs/embark-org-roam"]
	path = lisp/libs/embark-org-roam
	url = git@github.com:bramadams/embark-org-roam.git
[submodule "lisp/libs/consult-omni"]
	path = lisp/libs/consult-omni
	url = git@github.com:armindarvish/consult-omni.git
[submodule "lisp/libs/emt"]
	path = lisp/libs/emt
	url = git@github.com:roife/emt.git
[submodule "lisp/libs/corg.el"]
	path = lisp/libs/corg.el
	url = git@github.com:bigbuger/corg.el.git
[submodule "lisp/libs/lean4-mode"]
	path = lisp/libs/lean4-mode
	url = https://github.com/leanprover-community/lean4-mode.git
[submodule "lisp/libs/ob-grpc"]
	path = lisp/libs/ob-grpc
	url = git@github.com:shsms/ob-grpc.git
[submodule "lisp/libs/pic-ts-mode"]
	path = lisp/libs/pic-ts-mode
	url = git@github.com:smoeding/pic-ts-mode.git
