[submodule "lisp/libs/auto-save"]
	path = lisp/libs/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "lisp/libs/hideshowvis"]
	path = lisp/libs/hideshowvis
	url = https://github.com/sheijk/hideshowvis.git
[submodule "lisp/libs/counsel-jq-ex"]
	path = lisp/libs/counsel-jq-ex
	url = git@github.com:bigbuger/counsel-jq.git
[submodule "lisp/libs/counsel-golangci-lint"]
	path = lisp/libs/counsel-golangci-lint
	url = git@github.com:bigbuger/counsel-golangci-lint.git
[submodule "lisp/libs/flycheck-posframe"]
	path = lisp/libs/flycheck-posframe
	url = git@github.com:bigbuger/flycheck-posframe.git
[submodule "lisp/libs/lsp-ivy"]
	path = lisp/libs/lsp-ivy
	url = git@github.com:bigbuger/lsp-ivy.git
[submodule "lisp/libs/company-proto"]
	path = lisp/libs/company-proto
	url = git@github.com:bigbuger/company-proto.git
[submodule "lisp/libs/company-english-helper"]
	path = lisp/libs/company-english-helper
	url = git@github.com:manateelazycat/company-english-helper.git
[submodule "lisp/libs/ts-fold"]
	path = lisp/libs/ts-fold
	url = https://github.com/emacs-tree-sitter/ts-fold
[submodule "lisp/libs/el-easydraw"]
	path = lisp/libs/el-easydraw
	url = git@github.com:misohena/el-easydraw.git
[submodule "lisp/libs/awesome-tab"]
	path = lisp/libs/awesome-tab
	url = git@github.com:manateelazycat/awesome-tab.git
