alias
history
eshell
elpa
.edbi-ds-history
bookmarks
projectile-bookmarks.eld
#.*#
#*#
recentf
tramp
projectile.cache
.python-environments
.cache
transient
#.extension
.lsp-session-v1
.dap-breakpoints
.mc-lists.el
calc.el
elpy/
/places
/org-roam.db
/.org-id-locations
/.org/
/dap-ui-repl-python-history
/multisession/
/projects
/url/
/custom.el
