[submodule "lisp/auto-save"]
	path = lisp/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "lisp/hideshowvis"]
	path = lisp/hideshowvis
	url = https://github.com/sheijk/hideshowvis.git
[submodule "lisp/counsel-jq-ex"]
	path = lisp/counsel-jq-ex
	url = git@github.com:bigbuger/counsel-jq.git
[submodule "lisp/counsel-golangci-lint"]
	path = lisp/counsel-golangci-lint
	url = git@github.com:bigbuger/counsel-golangci-lint.git
